$grey-color-dark: #999999;
$main-color-black: #121212;

.container {
  margin-bottom: 90px;
  display: flex;
  flex-direction: column;
  width: 42%;
  height: 20px;
  &__input {
    margin-bottom: 8px;
    align-items: center;
    display: flex;
  }
  &__text {
    margin-right: 3px;
    text-align: right;
    width: 95px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    color: $main-color-black;
    height: 20px;
  }
}

@media (min-width: 1024px) and (max-width: 1439px) {
  .container {
    width: 70%;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .container {
    width: 90%;
  }
}

@media (max-width: 767px) {
  .container {
    width: 100%;
    margin-bottom: 60px;
  }
}

@media (max-width: 320px) {
  .container {
    width: 100%;
    margin-bottom: 60px;
    &__text {
      font-size: 12px;
    }
  }
}
