$main-color-accent: #0ec261;
$grey-color-dark: #999999;

.orderBreadCrumbs {
  display: flex;
  align-items: center;
  width: 1248px;
  margin: 0 auto;

  a {
    position: relative;
    text-decoration: none;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    color: $grey-color-dark;
    padding-right: 38px;
    &:last-child {
      padding-right: 0px;
    }

    &::after {
      content: '';
      position: absolute;
      background-image: url('../../../../assets/images/TriangularSeparator.svg');
      width: 6px;
      height: 8px;
      margin: 0 16px;
      right: 0px;
      top: 4px;
    }
    &:last-child::after {
      display: none;
    }
  }
  .selected {
    color: $main-color-accent;
  }

  .disabledLink {
    pointer-events: none;
  }
}

@media (min-width: 1024px) and (max-width: 1439px) {
  .orderBreadCrumbs {
    width: 896px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .orderBreadCrumbs {
    width: 672px;
  }
}

@media (max-width: 767px) {
  .orderBreadCrumbs {
    padding: 0 16px;

    a {
      font-size: 12px;
      line-height: 12px;
      padding-right: 26px;

      &::after {
        margin: 0 8px;
        top: 3px;
      }
    }
  }
}

@media (max-width: 325px) {
  .orderBreadCrumbs {
    a {
      font-size: 10px;
      line-height: 12px;
      padding-right: 18px;

      &::after {
        margin: 0 6px;
        right: 0px;
        top: 2px;
      }
    }
  }
}
