$grey-color-light: #eeeeee;

.mainPage {
  display: grid;
  grid-template-columns: 64px calc((100% - 64px));
  height: 100vh;
  overflow: hidden;

  .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 1024px) and (max-width: 1439px) {
  .mainPage {
    .content {
      &__inner {
        padding: 32px 32px;
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .mainPage {
    grid-template-columns: 86px calc((100% - 86px));
    .container {
      grid-template-columns: 1fr;
    }
  }
}

@media (max-width: 767px) {
  .mainPage {
    grid-template-columns: 0px 1fr;

    .container {
      grid-template-columns: 1fr;
    }
  }
}
