$main-color-black: #121212;

.wrapper {
  display: flex;
  justify-content: space-between;
}

.colLeft {
  display: flex;
  flex-direction: column;
  margin-right: 220px;
  min-width: 736px;
}

.text {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  color: $main-color-black;
  margin-bottom: 16px;
}

@media (min-width: 1024px) and (max-width: 1439px) {
  .colLeft {
    margin-right: 90px;
    min-width: 480px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .colLeft {
    margin-right: 40px;
    min-width: 360px;
  }
}

@media (max-width: 767px) {
  .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 16px;
  }

  .colLeft {
    display: flex;
    flex-direction: column;
    margin-right: 0px;
    margin-bottom: 20px;
    min-width: 240px;
  }

  .text {
    display: none;
  }
}
@media (max-width: 376px) {
  .colLeft {
    max-width: 343px;
  }
}

@media (max-width: 320px) {
  .colLeft {
    max-width: 288px;
  }
}
