$main-color-black: #121212;

.wrapper {
  display: flex;
  justify-content: space-between;
}

.colLeft {
  display: flex;
  flex-direction: column;
  margin-right: 220px;
}

@media (min-width: 1024px) and (max-width: 1439px) {
  .colLeft {
    margin-right: 50px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .colLeft {
    margin-right: 40px;
  }
}

@media (max-width: 767px) {
  .wrapper {
    flex-direction: column;
  }
  .colLeft {
    justify-content: center;
    align-items: center;
    margin-right: 0px;
    margin: 10px;
  }
  .colRight {
    padding: 16px;
  }
}

@media screen and (max-height: 700px) {
  .colLeft {
    margin: 0;
  }
  .colRight {
    padding: 0 16px;
  }
}
