$main-color-black: #121212;

.wrapper {
  display: flex;
  justify-content: space-between;
}

.colLeft {
  display: flex;
  flex-direction: column;
  margin-right: 220px;
}

@media (min-width: 1024px) and (max-width: 1439px) {
  .colLeft {
    margin-right: 90px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .colLeft {
    margin-right: 40px;
  }
}

@media (max-width: 767px) {
  .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 16px;
  }

  .colLeft {
    display: flex;
    flex-direction: column;
    margin-right: 0px;
    margin-bottom: 20px;
  }
}

@media screen and (max-height: 600px) {
  .colLeft {
    margin-bottom: 5px;
  }
}
