.wrapper {
  display: flex;
  margin-bottom: 45px;
  align-items: center;
  position: relative;
  .container {
    display: flex;
    justify-content: space-between;
    margin-right: 16px;
    padding-left: 20px;
  }
  label {
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    color: #999999;
  }

  .radioInputButton {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    margin-left: 20px;
    &:checked + .radioSpan {
      border: 3px solid #0ec261;
    }
  }

  .radioSpan {
    position: absolute;
    width: 12px;
    height: 12px;
    border: 3px solid #999999;
    border-radius: 50%;
    margin-left: -20px;
  }
}

@media (max-width: 767px) {
  .wrapper {
    justify-content: center;
    .container {
      margin-right: 16px;
      padding-left: 20px;
    }
    label {
      font-size: 10px;
      line-height: 12px;
    }
  }
}
