$main-color-black: #121212;

.wrapper {
  display: flex;
  justify-content: space-between;
  width: 1312px;
  margin: 0 auto;
  height: 100%;
}

.modalWrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.5);
}

.colLeft {
  display: flex;
  flex-direction: column;
  margin-right: 192px;
  padding-top: 32px;
}

.colRight {
  border-left: 1px solid #eeeeee;
  padding: 32px 0 0 28px;
}

.text {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  color: $main-color-black;
  margin-bottom: 16px;
}

@media (min-width: 1024px) and (max-width: 1439px) {
  .wrapper {
    width: 896px;
  }
  .colLeft {
    margin-right: 90px;
    min-width: 480px;
  }
  .colRight {
    padding: 32px 0 0 20px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .wrapper {
    width: 672px;
  }

  .colLeft {
    margin-right: 40px;
    width: 360px;
  }
  .colRight {
    padding: 32px 0 0 20px;
  }
}

@media (max-width: 767px) {
  .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 0 16px;
    margin: 0;
    width: 376px;
    width: 100%;
  }

  .colLeft {
    display: flex;
    flex-direction: column;
    margin-right: 0px;
    margin-bottom: 20px;
    width: 393px;
    padding-top: 140px;
  }

  .colRight {
    border-left: none;
    width: 393px;
    padding: 0;
  }
}

@media (max-width: 426px) {
  .colLeft {
    width: 393px;
  }
  .colRight {
    border-left: none;
    width: 393px;
  }
}

@media (max-width: 376px) {
  .colLeft {
    max-width: 343px;
  }
  .colRight {
    border-left: none;
    width: 343px;
  }
}

@media (max-width: 320px) {
  .colLeft {
    max-width: 288px;
  }
  .colRight {
    border-left: none;
    width: 288px;
  }
}
