.orderContainer {
  display: flex;
  flex-direction: column;
}

.headerContainer {
  width: 100%;
  border-bottom: 1px solid #eeeeee;
  margin: 0 auto;
  height: 96px;
  display: flex;
  align-items: center;
}

.orderBreadCrumbs {
  width: 100%;
  border-bottom: 1px solid #eeeeee;
  height: 32px;
  display: flex;
  margin: 0 auto;
}

@media (max-width: 767px) {
  .headerContainer {
    position: fixed;
    top: 0px;
    left: 0;
    z-index: 9;
    background-color: white;
  }

  .orderBreadCrumbs {
    position: fixed;
    top: 93px;
    left: 0;
    z-index: 9;
    background-color: white;
  }
}
