.orderContainer {
  display: flex;
  flex-direction: column;
}

.headerContainer {
  width: 100%;
  border-bottom: 1px solid #999999;
  margin: 0 auto;
}

.orderBreadCrumbs {
  width: 100%;
  border-bottom: 1px solid #999999;
  height: 32px;
  display: flex;
  margin: 0 auto;
}
