.mapContainer {
  width: 736px;
  height: 352px;
}

@media (min-width: 1024px) and (max-width: 1439px) {
  .mapContainer {
    width: 480px;
    height: 250px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .mapContainer {
    width: 360px;
    height: 190px;
  }
}

@media (max-width: 767px) {
  .mapContainer {
    width: 100%;
    height: 150px;
  }
}

@media (max-width: 426px) {
  .mapContainer {
    width: 390px;
    height: 150px;
  }
}

@media (max-width: 376px) {
  .mapContainer {
    width: 343px;
    height: 150px;
  }
}

@media (max-width: 320px) {
  .mapContainer {
    width: 288px;
    height: 150px;
  }
}
