$main-color-accent: #0ec261;
$main-color-black: #121212;
$grey-color-dark: #999999;
$grey-color-light: #eeeeee;

.inner {
  height: 100vh;
  box-sizing: border-box;
  padding: 32px 64px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media (min-width: 1024px) and (max-width: 1439px) {
  .inner {
    padding: 32px 32px;
  }
}

@media (max-width: 767px) {
  .inner {
    padding: 0px 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
