$main-color-accent: #0ec261;
$grey-color-light: #eeeeee;

.mainButton {
  margin-bottom: 20px;
  cursor: pointer;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  width: 100%;
  background-blend-mode: darken;
  border-radius: 8px;
  padding: 16px 19px;
  transition: all 0.5s;
  display: inline-block;
  &:hover {
    background: linear-gradient(90deg, #367c6f 0%, #248832 100%);
  }
  &:active {
    color: $grey-color-light;
  }
}

.main {
  background: linear-gradient(90deg, #13493f 0%, #0c7b1b 100%);
}

.insurance {
  background: linear-gradient(90deg, #132949 0%, #0c7b67 100%);
}

.fuel {
  background: linear-gradient(90deg, #493013 0%, #7b0c3b 100%);
}

.service {
  background: linear-gradient(90deg, #281349 0%, #720c7b 100%);
}

.order {
  background: $main-color-accent;
}

.big {
  width: 250px;
}

.small {
  width: 164px;
}

.orderWidth {
  width: 287px;
}

.orderConfirmWidth {
  width: 177px;
}

.applicationBtn {
  text-decoration: none;
  color: #ffffff;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .orderWidth {
    width: 240px;
  }
}

@media (max-width: 767px) {
  .mainButton {
    width: 100% !important;
  }
}

@media screen and (max-height: 600px) {
  .mainButton {
    padding: 8px 19px;
    font-size: 14px;
    line-height: 16px;
  }
}
