.orderPage {
  display: grid;
  grid-template-columns: 64px calc((100% - 64px));
  height: 100%;
  // overflow: hidden;
}

@media (max-width: 767px) {
  .orderPage {
    grid-template-columns: 0px 1fr;
  }
}
